gitupdate.sh
.homekit.state
.homekit.yaml.swp
.HA_VERSION
*_pycache_*
.ps4-c*.json
*.crt
*.key
*.conf
.cloud
home-assistant.log
home-assistant_v2.db*
deps
deps2
tts
secrets.yaml*
device_trackers.yaml
entity_registry.yaml
known_devices.yaml
.uuid
.storage
